


  
    <div class="section">

	  <div class="row">
		  
	      <% 8.times do |i|%>
	
	          
	      
		  
	      <div class="col s12 m4">
	        <div class="card">
	          <div class="card-image">
	            <%= image_tag('bg.jpg',:class=>"responsive-img")%>
	            <span class="card-title white-text"><%  @parse_page.xpath('//*[@id="team_batting"]/tbody/tr['+(i+1).to_s+']/td[2]/strong/a').each do |name| %><%= name.content %><% end %></span>
				
	            <a class="btn-floating halfway-fab waves-effect waves-light red pulse" href=""><i class="fas fa-share-alt"></i></a>
	          </div>
	          <div class="card-content">
				<table>
				        <thead>
				          <tr>
				              <th>OPS</th>
				              <th>BA</th>
				              <th>HR</th>
							  <th>RBI</th>
				          </tr>
				        </thead>

				        <tbody>
				          <tr>
				            <td><%  @parse_page.xpath('//*[@id="team_batting"]/tbody/tr['+(i+1).to_s+']/td[20]').each do |ops|%><%= ops.content%><% end %></td>
				            <td><%  @parse_page.xpath('//*[@id="team_batting"]/tbody/tr['+(i+1).to_s+']/td[17]').each do |ba|%><%= ba.content%><% end %></td>
				            <td><%  @parse_page.xpath('//*[@id="team_batting"]/tbody/tr['+(i+1).to_s+']/td[11]').each do |hr|%><%= hr.content%><% end %></td>
							<td><%  @parse_page.xpath('//*[@id="team_batting"]/tbody/tr['+(i+1).to_s+']/td[12]').each do |rbi|%><%= rbi.content%><% end %></td>
				          </tr>
				       
				        </tbody>
				      </table>
	          </div>
	        </div>
	      </div>
	      <% end %>
		  
		  
	    </div>

    </div>
    <br><br>
